<!--
  Generated template for the BlogdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{blogDatas.title.rendered}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item text-center>
      <h2 class="detail-title" padding-top>{{blogDatas.title.rendered}}</h2>
      <p>{{blogDatas.date_gmt | date}}</p>
    </ion-item>
    <img src="{{blogDatas.image}}">
    <ion-card-content padding-top>
      <p>{{blogDatas.content.rendered}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col class="comment-header"> 
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div (click)="showComments(blogDatas.openComment)">{{commentLength}} Comments</div>
        </button>
      </ion-col>
    </ion-row>
    <div  *ngIf="this.blogDatas.openComment">
      <ion-card *ngFor="let comment of commentDatas">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{comment.author_url}}">
          </ion-avatar>
          <h2>{{comment.author_name}}</h2>
          <p>{{comment.date_gmt | date}}</p>
        </ion-item>
        <ion-card-content>
          {{comment.content.rendered}}
        </ion-card-content>
      </ion-card>
    </div>

  </ion-card>


</ion-content>
